src/ficheros/departamentos(XSD).xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="listaDepartamentos">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="departamento" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="dep_no" type="xs:integer"/>
                            <xs:element name="dnombre" type="xs:string"/>
                            <xs:element name="loc" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>