src/ficheros/empleados(XSD).xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="empleados">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empleado" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="emp_no" type="xs:integer"/>
                            <xs:element name="apellido" type="xs:string"/>
                            <xs:element name="dir" type="xs:string"/>
                            <xs:element name="salario" type="xs:decimal"/>
                            <xs:element name="oficio" type="xs:string"/>
                            <xs:element name="fecha_alt">
                                <xs:simpleType>
                                    <xs:restriction base="xs:date">
                                        <xs:pattern value="\d{4}-\d{2}-\d{2}"/> 
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="comision" type="xs:decimal" minOccurs="0"/> 
                            <xs:element name="dept_no" type="xs:integer"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>